@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  background-color: black;
  font-size: 20px;
  font-family: Poppins, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
}
/* Header */
.header {
  display: flex;
  justify-content: space-between;
  margin: 0 64px 0 64px;
  align-items: center;
}

.header-menu {
  display: flex;
  align-items: center;
  margin: 0;
}

.header-menu-itens {
  font-weight: 300;
  margin: 0 32px 0 32px;
}

.contact-menu {
  margin: 0;
  background-color: purple;
  padding: 36px;
  font-weight: 600;
}

/* Presentation */

.presentation {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-top: 4vw;
}

.presentation-img {
  margin: 64px;
  max-width: 1180px;
  min-width: 640px;
  width: 920px;
}

.presentation-container {
  background: rgba(24, 24, 35, 0.75);
  height: auto;
  min-width: 50vw;
  max-width: 1000px;
  padding: 2vw 0 2vw 4vw;
}

.presentation-text {
  font-weight: 700;
  font-size: 5vh;
  margin-left: 2vw;
  margin-top: 70px;
  margin-bottom: 70px;
}

.presentation-text-frontend {
  margin-top: 0;
  color: rgba(255, 255, 255, 0.5);
}

/* Experience */

.experience-container {
  display: flex;
  flex-direction: column;
  margin: 128px 96px 64px 96px;
}

.experience-tag {
  color: #8491a0;
  font-weight: 300;
  text-transform: uppercase;
}

.experience-briefing {
  font-size: 64px;
  max-width: 1200px;
}

.experience-list {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.experience-info {
  display: flex;
  flex-direction: column;
}

.experience-info-id {
  color: #8491a0;
  font-size: 170px;
  font-weight: 400;
  height: 200px;
  margin: 0;
}

.experience-info-title {
  align-items: center;
  display: flex;
  font-size: 32px;
  height: 180px;
  margin: 0;
  width: 400px;
}

.experience-info-text {
  color: #8491a0;
  font-size: 20px;
  letter-spacing: 0.1em;
  width: 480px;
}

/* Values */

.value-container {
  background: #584732;
  display: flex;
  justify-content: space-between;
  height: 500px;
  padding-left: 64px;
  margin-bottom: 128px;
}

.value-text-container {
align-self: center;
}

.value-img {
  height: 500px;
  align-self: baseline;
}
