@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  background-color: black;
  font-family: Poppins, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
}
/* Header */
.header {
  display: flex;
  justify-content: space-between;
  margin: 0 4em 0 4em;
  align-items: center;
}

.header-menu {
  display: flex;
  align-items: center;
  margin: 0;
}

.header-menu-itens {
  font-weight: 300;
  margin: 0 1.6em 0 1.6em;
}

.contact-menu {
  margin: 0;
  background-color: purple;
  padding: 1.4em;
  font-weight: 600;
}

/* Presentation */

.presentation {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-top: 8vw;
}

.presentation-img {
  margin: 2em;
  max-width: 38em;
}

.presentation-container {
  background: rgba(24, 24, 35, 0.75);
  max-width: 1200px;
  padding: 2vw 4vw 2vw 4vw;
}

.presentation-text {
  font-weight: 700;
  font-size: 4.8vh;
  margin-left: 2vw;
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}

.presentation-text-frontend {
  margin-top: 0;
  color: rgba(255, 255, 255, 0.5);
}

/* Experience */

.experience-container {
  display: flex;
  flex-direction: column;
  margin: 10em 8em 8em 6em;
}

.experience-tag {
  color: #8491a0;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1vw;
}

.experience-briefing {
  font-size: 4vw;
  max-width: 16em;
}

.experience-list {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.experience-info {
  display: flex;
  flex-direction: column;
  margin: 0 0.2em 0 0.2em;
}

.experience-info-id {
  color: #8491a0;
  font-size: 9vw;
  font-weight: 400;
  height: 1.2em;
  margin: 0;
}

.experience-info-title {
  align-items: center;
  display: flex;
  font-size: 1.6vw;
  height: 6em;
  width: 10em;
}

.experience-info-text {
  color: #8491a0;
  font-size: 1.2vw;
  letter-spacing: 0.1em;
  width: 20em;
}

/* Values */

.value-container {
  background: #584732;
  display: flex;
  justify-content: space-between;
  height: 32em;
  padding-left: 1.4em;
  margin-bottom: 4em;
  max-width: 100%;
}

.value-text-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-height: 32em;
}

.value-text-title {
  font-weight: 800;
  font-size: 4.4vw;
  margin: 0 0 0.4em;
}

.value-text-body {
  font-weight: 300;
  font-size: 1vw;
  max-width: 32em;
}

.value-text-link {
  color: #d6dee2;
  text-decoration-line: underline;
  line-height: 150%;
  font-size: 1.1vw;
}

.value-img {
  height: 32em;
  align-self: baseline;
}
